<div class="settings-pane-host-menu"
     data-ng-controller="plugin-customBarColumnChart.controllers.customBarColumnChartController"  >
    <div class="pane-row">
        <div class="checker-pane-holder" data-ng-class="{disabled: !customMenuEnabled }" >
            <div class="checker-pane-title">CUSTOMIZE CHART</div>

            <data-chk-onoff class="checker-pane-enabled"
                            data-checked="customMenuEnabled"
                            data-checked-changed="enabledChanged(customMenuEnabled)">
            </data-chk-onoff>
        </div>
    </div>

	<div class="add-totals-row" data-ng-show="customMenuEnabled">
		<div class="checker-pane-holder">
			<div class="checker-pane-title">SHOW TOTALS</div>
		</div>
		<div class="type-holder">
			<div data-ng-repeat="addTotal in ['No', 'Yes']"
				 data-ng-class="{selected: addTotal == addTotalOption}"
				 data-ng-click="changeAddTotal(addTotal)"
				 class="radio-option-item">
				<div class="custom-radio-btn"
					 data-ng-class="{selected: addTotal == addTotalOption}"></div>
				<div class="radio-option-separator"></div>
				<div class="radio-option-caption">{{addTotal}}</div>
			</div>
		</div>
	</div>
	
	<div class="sort-categories-row" data-ng-show="customMenuEnabled">
		<div class="checker-pane-holder">
			<div class="checker-pane-title">SORT CATEGORIES</div>
		</div>
		<div class="type-holder">
			<div data-ng-repeat="sortCategories in ['Default', 'Reverse', 'Asc by Total', 'Desc by Total', 'Custom']"
				 data-ng-class="{selected: sortCategories == sortCategoriesOption}"
				 data-ng-click="changeSortCategories(sortCategories)"
				 class="radio-option-item">
				<div class="custom-radio-btn"
					 data-ng-class="{selected: sortCategories == sortCategoriesOption}"></div>
				<div class="radio-option-separator"></div>
				<div class="radio-option-caption">{{sortCategories}}</div>
			</div>
			<div class="radio-option-separator"></div>
			<button id="customCategoryButton" class="btn">Custom Sort Configuration</button>
		</div>
	</div>
	
	<div class="sort-breakby-row" data-ng-show="customMenuEnabled">
		<div class="checker-pane-holder">
			<div class="checker-pane-title">SORT BREAK BY</div>
		</div>
		<div class="type-holder">
			<div data-ng-repeat="sortBreakBy in ['Default', 'Reverse', 'Asc by Total', 'Desc by Total', 'Custom']"
				 data-ng-class="{selected: sortBreakBy == sortBreakByOption}"
				 data-ng-click="changeSortBreakBy(sortBreakBy)"
				 class="radio-option-item">
				<div class="custom-radio-btn"
					 data-ng-class="{selected: sortBreakBy == sortBreakByOption}"></div>
				<div class="radio-option-separator"></div>
				<div class="radio-option-caption">{{sortBreakBy}}</div>
			</div>
			<div class="radio-option-separator"></div>
			<button id="customBreakbyButton" class="btn">Custom Sort Configuration</button>
		</div>
	</div>
	
</div>

<div id="custom-modal-overlay" class="custom-modal-overlay">
	<div id="custom-modal" class="custom-modal">
		<div class="custom-modal-content">
			<div class="custom-modal-header">
				<p id="custom-modal-header-title"></p>
				<div class="header-line"></div>
			</div>
			<div class="custom-modal-body-container">
				<center class="custom-modal-body-center">
					<div class="custom-modal-body"><ul id="custom-modal-body-list"></ul></div>
				</center>
				<div class="custom-modal-footer">
					<button id="resetButton" class="btn">Reset</button>
					<button id="cancelButton" class="btn">Cancel</button>
					<button id="saveButton" class="btn">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>