.settings-pane-host-menu {
    display: inline-block;
    width: 100%;
}

.settings-pane-host-menu .pane-row {
    margin: 10px 8px 0px 8px;
    min-height: 24px;
}

.add-totals-row {
	height: 85px;
    margin: 5px 8px 0px 8px;
}

.sort-categories-row {
	height: 190px;
    margin: 1px 8px 0px 8px;
}

.sort-breakby-row {
	height: 115px;
    margin: 1px 8px 0px 8px;
}

#customCategoryButton {
	width: 100%;
	margin: 2px 0px 2px 0px;
}

#customBreakbyButton {
	width: 100%;
	margin: 2px 0px 2px 0px;
}

.custom-modal-overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    #background-color: #080e18;
	background-color: rgba(8,14,24,0.7);
	transition: all .3s;
}

.custom-modal {
    position: fixed;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	z-index: 2000;
	box-sizing: border-box;
	display: block;
}

.custom-modal-content {
    position: relative;
    background-color: #fff;
	border-radius: 3px;
    margin: 0 auto;
    border: 3px solid #fff;
	outline: 0;
	padding: 10px;
    box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.25);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.custom-modal-header {
    padding: 15px 22px 0 18px;
}

#custom-modal-header-title {
	font-size: 20px;
	font-family: "Open Sans";
	line-height: normal;
	font-weight: bold;
	color: #5b6372;
}

.custom-modal-body-container {
	background: white;
	padding: 10px;
	#overflow: hidden;
	height: 498px;
}

.custom-modal-body-center {
	height: 448px;
}

.custom-modal-body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.custom-modal-footer {
    color: #3a4356;
	height: 50px;
	min-width: 380px;
	padding: 10px 10px 10px 0px;
}


#custom-modal-body-list {
	list-style-type: none;
	margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
}

.custom-modal-body-list-item {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
	width: 50%;
	max-width: 50%;
	text-align: center;
	background-color: #dbd4d4;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.custom-modal-body-list-item.active {
    background-color: #4CAF50;
    color: white;
}

.custom-modal-body-list-item:hover:not(.active) {
    background-color: #555;
    color: white;
}

#saveButton {
	width: 100px;
	height: 100%;
	background-color: #ffcb05;
	color: #3a4356;
	cursor: pointer;
	transition: all .3s ease;
	vertical-align: middle;
	border: 0;
	border-radius: 4px;
	font-weight: bold;
	float: right;
}

#saveButton:hover {
	background: #f2b900;
}

#cancelButton {
	width: 100px;
	height: 100%;
	background-color: #edeef1;
	font-weight: bold;
	float: right;
	color: #3a4356;
	margin-left: 10px;
	cursor: pointer;
	transition: all .3s ease;
	vertical-align: middle;
	border: 0;
	border-radius: 4px;
}

#cancelButton:hover {
	background: #d0d3db;
}

#resetButton {
	width: 100px;
	height: 100%;
	background-color: #19b9c9;
	font-weight: bold;
	float: right;
	color: #3a4356;
	margin-left: 10px;
	cursor: pointer;
	transition: all .3s ease;
	vertical-align: middle;
	border: 0;
	border-radius: 4px;
}

#resetButton:hover {
	background-color: red;
	color: white;
}


.header-line {
	padding: 4px 0 0 0;
	border-bottom: 1px solid #f2f2f2;
}

.modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background: #080e18;
	transition: all .3s;
	opacity: .7;
	display: none;
}